.cardProduct{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 21em;
    height: 28em;
    border-radius: 1.5em;
    border: 2px solid white;
    margin: 1em 0 1em 0; 
    overflow: hidden;
    transition: 1s;
}

.cardProduct:hover{
    transform: scale(1.3);
    z-index: 2;
}

.poster{
    position:relative;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1.3em;

}

.button1{ 
    background-color: rgb(3, 7, 73);
    border: white 3px solid;
    border-radius: 0.5em;
    padding: 0em 0.5em 0em 0.5em;
}

.button3{
    background-color: green;
    border: white 3px solid;
    border-radius: 0.5em;
    padding: 0em 0.5em 0em 0.5em;
}

.button1:hover{
    box-shadow: 0 0 1em white;
}

.button2:hover{
    box-shadow: 0 0 1em white;
}

.button3:hover{
    box-shadow: 0 0 1em white;
}


.details {
    position: absolute; 
    flex-direction: column;
    display: flex;
    bottom: -100%; 
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1.5em 1.5em 2em;
    background-color: #000a;  
    transition: 2s; 
    color: #fff; 
    z-index: 1; 
    gap: 0.5em;
}

.cardProduct:hover .details {
    bottom: -40%; 
};


