.container {
    height: 25%;
    background-color: rgb(2,5,48);
    padding: 2em 2em 2em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: white;
    opacity: 0.9;
    position: relative;
  }

  
.personal{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
    
}

.media{
    display:flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;

}

.WhatsApp{
   display: flex;
   flex-direction: column;
   gap: 1em;
   align-items: center;
}

.socialNetworks{
    display: flex;
    gap: 1em;
}

.logo{
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.5em;
    margin: auto; 
}

.input{
    display: flex;
    gap: 1em;
}

.inputOK{
    border-radius: 0.5em;
    border: green 3px solid;
    color: black;
}

.button{
    background-color: green;
    border: black 3px solid;
    border-radius: 0.5em;
    padding: 0em 0.5em 0em 0.5em;
}